.card {
    margin: 2em auto;
    width: 75vw;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.card-link {
    cursor: pointer;
}

ion-content {
    overflow-y: hidden;
}