<ion-header>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="partidos" color="primary">
            <ion-segment-button value="creados">
                <ion-icon name="clipboard"></ion-icon> Creados </ion-segment-button>
            <ion-segment-button value="inscrito">
                <ion-icon name="bookmark"></ion-icon> Inscrito </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="partidos">
        <ion-list *ngSwitchCase="'creados'">
            <div class="events">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Eliminar</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Eliminar</a>
                    </div>
                </div>
                <ion-footer>
                    <div>
                        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                            <ion-fab-button>
                                <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                    </div>
                </ion-footer>
            </div>

        </ion-list>

        <ion-list *ngSwitchCase="'inscrito'">
            <ion-item>
                <!-- <ion-thumbnail item-start> -->
                <!-- <img src="img/thumbnail-kitten-1.jpg"> -->
                <!-- </ion-thumbnail> -->
                <h2>Luna</h2>
            </ion-item>
            ...
        </ion-list>
    </div>
</ion-content>