<ion-content>
    <figure class="ion-padding ion-text-center">
        <img src="assets/img/logo.jpg" />
    </figure>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser2(loginForm.value)">
        <ion-item>
            <ion-label>Email:</ion-label>
            <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Password:</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-button expand="full" shape="round" [disabled]="!loginForm.valid" type="submit"> Sign In </ion-button>
    </form>
</ion-content>
<ion-footer text-cente>
    <ion-button expand="full" shape="round" fill="outline" (click)="goToRegister()"> Sign Up </ion-button>
</ion-footer>