@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
ion-content {
    font-family: 'Open Sans', sans-serif !important;
}

ion-slides {
    background-color: white;
    height: 100%;
    max-width: 800px;
}

.swiper-slide {
    display: block;
    margin-bottom: 64px;
    background-color: white;
}

ion-slide>h1,
h2 {
    margin: 0 0 0 0;
    color: var(--ion-color-primary);
    font-weight: bold;
}

ion-slide>p {
    font-size: 22px;
    padding: 1em 1em 1em 1em;
}

ion-slide ion-icon {
    float: right;
    color: var(--ion-color-primary);
    font-size: 30px;
}

ion-slide>img {
    margin-top: 2em;
    max-height: 70vh;
    max-width: 70vw;
    // margin: 64px 0;
    // border-radius: 60px;
}