<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home-tab">
            <ion-icon ios="ios-home" md="md-home"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="evento">
            <ion-icon name="football"></ion-icon>
            <ion-label>Mis Eventos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile-tab">
            <ion-icon ios="ios-person" md="md-person"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>