<ion-header>
    <ion-toolbar>
        <ion-title>Mi perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-avatar>
        <img src="../../../assets/img/profile-avatar.jpg">
    </ion-avatar>

    <ion-list>
        <ion-item>
            <ion-label>
                Nombre
            </ion-label>
            <ion-label class="ion-text-wrap">
                Juan David Puentes
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                Edad
            </ion-label>
            <ion-label class="ion-text-wrap">
                27
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                Deportes Favoritos
            </ion-label>
            <ion-label class="ion-text-wrap">
                Fútbol, tennis
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                Último partido
            </ion-label>
            <ion-label class="ion-text-wrap">
                Partido de fútbol 5
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Partidos jugados</ion-label>
            <ion-badge slot="end">22</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Partidos ganados</ion-label>
            <ion-badge color="success" slot="end">14</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Partidos perdidos</ion-label>
            <ion-badge color="warning" slot="end">8</ion-badge>
        </ion-item>
    </ion-list>

</ion-content>