<ion-header>
    <ion-toolbar>
        <ion-title>Mi perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngFor="let usuario of usuario">
    <ion-avatar>
        <img src={{usuario.foto}}>
    </ion-avatar>

    <ion-list>
        <ion-item>
            <ion-label>
                Nombre
            </ion-label>
            <ion-label class="ion-text-wrap">
                {{usuario.nombre  }} {{usuario.apellido}}
            </ion-label>
        </ion-item>

        <ion-item>
                <ion-label>
                    Organización ID
                </ion-label>
                <ion-label class="ion-text-wrap">
                    {{usuario.idorganizacion}}
                </ion-label>
        </ion-item>
        <ion-item>
                <ion-label>
                    Posición de juego
                </ion-label>
                <ion-label class="ion-text-wrap">
                    {{usuario.posicionpreferida}}
                </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Calificación</ion-label>
            <ion-badge slot="end">{{usuario.calificacion}}%</ion-badge>
        </ion-item>
        <ion-item>
                <ion-label>Asistencia</ion-label>
                <ion-badge slot="end">{{usuario.asistencia}}%</ion-badge>
            </ion-item>
    </ion-list>

</ion-content>