<ion-header>
    <ion-toolbar>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor= "let evento of eventos">
        <ion-card-header>
            <ion-avatar > 
                <img src="../../../assets/img/evento2.jpg" />
            </ion-avatar>
            <ion-card-title>Evento de Futbol</ion-card-title>
            <ion-card-subtitle>Organizado por {{evento.organizacion}} , <strong> Quedan {{evento.cupos}} Cupos </strong></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Ven y juega con nosotros en {{evento.lugar}}. 
            El evento inicia el {{evento.fechaInicio}} y termina el {{evento.fechaFin}}
        </ion-card-content>
        <ion-button color="secondary" shape="round">Inscribirse</ion-button>
    </ion-card>
</ion-content>