<ion-content>
  <figure text-center padding>
    <img src="assets/img/logo.jpg" />
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="nombre" [(ngModel)]="usuario.nombre" ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.nombre">
        <div
          *ngIf="
            registerForm.get('nombre').hasError(validation.type) &&
            (registerForm.get('nombre').dirty ||
              registerForm.get('nombre').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input formControlName="apellido" [(ngModel)]="usuario.apellido" ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.apellido">
        <div
          *ngIf="
            registerForm.get('apellido').hasError(validation.type) &&
            (registerForm.get('apellido').dirty ||
              registerForm.get('apellido').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="login" [(ngModel)]="usuario.login"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.login">
        <div
          *ngIf="
            registerForm.get('login').hasError(validation.type) &&
            (registerForm.get('login').dirty ||
              registerForm.get('login').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="contrasena" [(ngModel)]="usuario.contrasena" ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.contrasena">
        <div
          *ngIf="
            registerForm.get('contrasena').hasError(validation.type) &&
            (registerForm.get('contrasena').dirty ||
              registerForm.get('contrasena').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
        <ion-label>Posición Preferida</ion-label>
        <ion-input formControlName="posicion" [(ngModel)]="usuario.posicionpreferida" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Enlace foto </ion-label>
        <ion-input formControlName="foto" [(ngModel)]="usuario.foto"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Organización Vinculada </ion-label>
        <ion-input formControlName="organizacion" [(ngModel)]="usuario.idorganizacion"></ion-input>
    </ion-item>

    <ion-button expand="full" shape="round" color="success" [disabled]="!registerForm.valid" type="submit">
      Registrar
    </ion-button>
  </form>
</ion-content>
